:root {
    --tamanho-RetaguloMenor: 105px;
    --tamanho-RetaguloMaior: 200px;
}

.retangulo {
    height: 20px;
    width: 100px;
    background-color: gray;
    margin: 1px;
}

.retaguloAcumulativo {
    height: 20px;
    background-color: gray;
    margin: 1px;
}

.retaguloArray {
    height: 20px;
    background-color: gray;
    margin: 1px;
}